/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;list-style-type: none;}
div {box-sizing: border-box}
::-webkit-scrollbar {
	width: 0;
}
.clean {
	clear: both !important;
	margin: 0 !important;
}
.menu-hidden {
	display: none !important;
}
.bgColor-F6F9FE {
	background-color: #F6F9FE !important;
}
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../font/Avenir-Heavy.otf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Medium';
    src: url('../font/Avenir-Medium.otf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Black';
    src: url('../font/Avenir-Black.otf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Roman';
    src: url('../font/Avenir-Roman.otf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Oblique';
    src: url('../font/Avenir-Oblique.otf') format('truetype');
}

/* header */
.header-box {
	width: 100%;
	height: 98px;
	padding: 0 80px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-box .logo-box {
	display: flex;
}
.header-box .logo-box img {
	height: 48px;
	margin-right: 26px;
	display: block;
}
.header-box .logo-box .laboratoryLogo {
	width: 251px;
	margin-right: 0;
}
.header-box .logo-box .laboratoryLogo-mobile {
	display: none;
}
.header-box .r-box {
	flex: 1;
	height: 100%;
    display: flex;
	align-items: center;
    justify-content: flex-end;
}
.header-box .r-box .menu-box,
.header-box .r-box .menu-box ul {
	height: 100%;
	display: flex;
}
.header-box .r-box .menu-box ul li {
	display: flex;
	align-items: center;
	justify-content: center;
  	margin-right: 36px;
	border-top: 2.5px solid transparent;
	cursor: pointer;
}
.header-box .r-box .menu-box ul li:last-child {
	margin-right: 26px;
}
.header-box .r-box .menu-box li a {
  	color: rgba(0, 0, 0, .85);
  	text-decoration: none;
  	font-family: Avenir-Heavy;
  	font-size: 20px;
  	line-height: 27px;
    font-weight: 500;
}
.header-box .r-box .menu-box li.active,
.header-box .r-box .menu-box li:hover {
	border-color: #2157A8;
}
.header-box .r-box .menu-box li.active a,
.header-box .r-box .menu-box li:hover a {
	color: #2157A8;
}
.header-box .r-box .menu-box li a img {
	width: 13px;
	height: 13px;
}
.header-box .r-box .menu-box li {
	position: relative;
}
.header-box .r-box .menu-box li:hover .teamList {
	display: block;
}
.header-box .r-box .menu-box li .teamList {
	position: absolute;
	top: 83px;
    left: 0;
	z-index: 99;
	height: auto;
	padding: 28px 20px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 7px 25px 0 rgba(0,0,0,0.15);
	display: none;
}
.header-box .r-box .menu-box li .teamList li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
  	margin-right: 0;
	border: none;
	width: 188px;
	height: 51px;
	padding-left: 20px;
	font-family: Avenir-Heavy;
	font-size: 20px;
	color: rgba(0, 0, 0, .85);
}
.header-box .r-box .menu-box li .teamList li a {
	color: rgba(0, 0, 0, .85);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.header-box .r-box .menu-box li .teamList li:hover {
	background-color: #F5F7FA;
}
.header-box .r-box .menu-box li .teamList li.active a,
.header-box .r-box .menu-box li .teamList li:hover a {
	color: #2157A8;
}
.header-box .r-box .language-box {
	display: flex;
	align-items: center;
	height: 54px;
	border-left: 1px solid rgba(0,0,0,0.25);
	padding-left: 26px;
}

.header-box .r-box .language-box img {
	width: 26px;
	height: 26px;
	display: block;
}
.header-box .r-box .language-box span {
	margin-left: 8px;
	font-family: Avenir-Medium;
	font-size: 17px;
	color: rgba(0,0,0,0.45);
	line-height: 21px;
	cursor: pointer;
}
.header-box .r-box .icon-menu-box img{
	display: none;
}

/* mobile menu */
#mobile-menu-box {
	position: fixed;
	top: 48px;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 999;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* header mobile css */
.mobile-class .header-box .r-box .menu-box {
	display: none !important;
}
.mobile-class .header-box {
	width: 100%;
	height: 48px;
	padding: 0 20px;
	box-sizing: border-box;
	justify-content: space-between;
}
.mobile-class .header-box .logo-box img {
	height: 28px;
	margin-right: 20px;
}
.mobile-class .header-box .logo-box .laboratoryLogo {
	display: none;
}
.mobile-class .header-box .logo-box .laboratoryLogo-mobile {
	width: 74px !important;
	margin-right: 0 !important;
	display: block;
}
.mobile-class #mobile-menu-box ul {
	padding: 20px 0;
}
.mobile-class #mobile-menu-box li {
	display: grid;
	margin-top: 10px;
	padding: 0 20px;
}
.mobile-class #mobile-menu-box li:first-child {
	margin-top: 0;
}	
.mobile-class #mobile-menu-box li a {
  	color: rgba(0, 0, 0, .65);
  	text-decoration: none;
  	font-family: Avenir-Heavy;
  	font-size: 16px;
  	line-height: 22px;
	white-space: nowrap;
font-weight: 500;
}
.mobile-class #mobile-menu-box li.active a {
	color: #2157A8;
}
.mobile-class #mobile-menu-box li a img {
	width: 10px;
	height: 10px;
}
.team-active {
	background-color: #F5F7FA;
	padding: 10px 20px !important;
}
.team-active a,
.mobile-class #mobile-menu-box #childMenu li.active a {
	color: #2157A8 !important;
}
.mobile-class #mobile-menu-box #childMenu {
	padding: 0;
}
.mobile-class #mobile-menu-box #childMenu li {
	display: flex;
	align-items: center;
	font-family: Avenir-Heavy;
	font-size: 16px;
	color: rgba(0, 0, 0, .65);
	margin-top: 10px;
}
.mobile-class #mobile-menu-box #childMenu li a {
	color: rgba(0, 0, 0, .65) !important;
}
.mobile-class .header-box .icon-menu-box, .mobile-class .header-box .language-box {
	display: flex;
	align-items: center;
	height: 32px;
}
.mobile-class .header-box .icon-menu-box {
	margin-right: 20px;
}
.mobile-class .header-box .language-box {
	padding-left: 20px;
	border-left: 1px solid rgba(0,0,0,0.15);
}
.mobile-class .header-box .icon-menu-box img, 
.mobile-class .header-box .language-box img {
	width: 22px;
	height: 22px;
	display: block;
}
.mobile-class .header-box .language-box span {
	display: none;
}

/* footer */
.footer-box {
	box-sizing: border-box;
	width: 100%;
	padding: 80px 100px 68px;
	background-color: #0A142F;
	font-family: Avenir-Medium;
}
.footer-box .logo-box {
	display: flex;
	align-items: center;
	float: left;
	gap: 24px;
}
.footer-box .logo-box img {
	height: 62px;
	margin-right: 0;
	display: block;
}
.footer-box .logo-box .footerLaboratoryLogo {
	width: 325px;
	margin-right: 0;
}
.footer-box .logo-box .footerLaboratoryLogo-mobile {
	display: none;
}
.footer-box .contactus-box {
	float: right;
	width: 50%;
}
.footer-box .contactus-box h6 {
	font-family: Avenir-Black;
	font-size: 14px;
	color: rgba(255, 255, 255, .4);
	width: fit-content;
	line-height: 20px;
	margin-bottom: 20px;
        font-weight: 600;
}
.footer-box .contactus-box p {
	font-size: 18px;
	color: #fff;
	width: 230px;
	line-height: 25px;
	float: left;
}
.footer-box .contactus-box p:nth-child(2) {
	float: right;
}
.footer-box .contactus-box a {
	width: 113px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 40px;
	background-color: #fff;
	font-size: 16px;
	font-family: Avenir-Heavy;
	text-decoration: none;
	color: #2157A8;
	margin-top: -4px;
	border: 1px solid #fff;
	float: right;
        font-weight: 500;
}
.footer-box .filings-box {
	margin-top: 42px;
	padding-top: 36px;
	border-top: 1px solid rgba(255, 255, 255, .2);
	display: flex;
    justify-content: center;
}
.footer-box .filings-box p {
	line-height: 19px;
	font-size: 14px;
	color: rgba(255, 255, 255, .65);
	margin-left: 10px;
}

/* footer mobile css */
.mobile-class .footer-box {
	padding: 32px 20px;
}
.mobile-class .footer-box .logo-box {
	float: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 24px;
    gap: 20px;
}
.mobile-class .footer-box .logo-box img {
	height: 45px;
	margin-right: 0;
	margin-bottom: 0;
}

.mobile-class .footer-box .logo-box .footerLaboratoryLogo {
	display: none;
}
.mobile-class .footer-box .logo-box .footerLaboratoryLogo-mobile {
	display: block;
	width: 120px;
	height: 45px;
}
.mobile-class .footer-box .contactus-box {
	float: none;
	width: 100%;
	margin-top: 0;
	text-align: center;
}
.mobile-class .footer-box .contactus-box h6 {
	display: none;
}
.mobile-class .footer-box .contactus-box p {
	font-size: 14px;
	color: #fff;
	width: 100%;
	line-height: 20px;
	margin-bottom: 8px;
	float: none;
	text-align: center;
}
.mobile-class .footer-box .contactus-box p:nth-child(3) {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 16px;
}
.mobile-class .footer-box .contactus-box a {
	width: 100px;
	height: 32px;
	border-radius: 16px;
	background-color: transparent;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
	float: none;
}
.mobile-class .footer-box .filings-box {
	margin-top: 20px;
	padding-top: 20px;
	display: block;
	text-align: center;
}
.mobile-class .footer-box .filings-box p {
	line-height: 18px;
	font-size: 12px;
	margin-bottom: 4px;
	margin-left: 0;
	float: none;
	display: block;
	text-align: center;
}
.mobile-class .footer-box .filings-box p:first-child {
	margin-right: 0;
}
.mobile-class .footer-box .filings-box p:nth-child(2) {
	float: none;
	margin-right: 0;
}
.mobile-class .footer-box .filings-box p:last-child {
	margin-bottom: 0;
}

/* banner */
.banner-box {
	width: 100%;
	position: relative;
}
.banner-box img {
	width: 100%;
	display: block;
}
.banner-box div {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	background: rgba(3,11,26, .6);
}
.banner-box div p {
	line-height: 79px;
	color: #fff;
	font-size: 58px;
	font-family: Avenir-Black;
        font-weight: 600;
}

/* banner mobile css */
.mobile-class .banner-box img {
	height: 260px;
	object-fit: cover;
	object-position: 50% 50%;
}
.mobile-class .banner-box div p {
	line-height: 36px;
	font-size: 26px;
}

/* swiper */
.swiper-button-next,
.swiper-button-prev {
	width: 22px !important;
	height: 22px !important;
	margin-top: -11px !important;
	background-image: url('../img/icon_swiperBtn_r.png') !important;
	background-size: 100% 100% !important;
}
.swiper-button-next {
	right: 15px !important;
}
.swiper-button-prev {
	left: 15px !important;
	background-image: url('../img/icon_swiperBtn_l.png') !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: -22px !important;
}
.swiper-pagination-bullet {
	width: 5px !important;
	height: 5px !important;
	opacity: 1 !important;
	background: rgba(255, 255, 255, .45) !important;
}
.swiper-pagination-bullet-active {
	background: #FFFFFF !important;
	width: 18px !important;
	height: 5px !important;
	border-radius: 13px !important;
}