.list-box {
    padding: 1rem 1.8rem;
    background-color: #fff;
    max-width: 14.4rem;
    margin: 0 auto;
}
.list-box .item-box {
    padding-top: .8rem;
}
.list-box .item-box img {
    width: 5.2rem;
    float: left;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
}
.list-box .item-box h5 {
    width: calc(100% - 5.62rem);
    margin-left: .42rem;
    font-family: Avenir-Heavy;
    font-size: .28rem;
    line-height: .33rem;
    color: rgba(0,0,0,0.85);
    float: right;
font-weight: 600;
}
.list-box .item-box p {
    width: calc(100% - 5.62rem);
    margin-left: .42rem;
    margin-top: .12rem;
    font-family: Avenir-Roman;
    font-size: .22rem;
    color: rgba(0,0,0,0.45);
    line-height: .32rem;
    float: right;
font-weight: 400;
}
.list-box .item-box:first-child {
    padding-top: 0;
}
.list-box .item-box:nth-child(2n) img {
    float: right;
}
.list-box .item-box:nth-child(2n) h5,
.list-box .item-box:nth-child(2n) p {
     margin-left: 0;
    float: left;
}

/* mobile css */
.mobile-class .list-box {
    padding: .36rem .2rem;
    max-width: 3.75rem;
}
.mobile-class .list-box .item-box {
    padding-top: .28rem;
    padding-bottom: .24rem;
    border-bottom: .01rem solid rgba(0,0,0,0.15);
}
.mobile-class .list-box .item-box img {
    width: 100%;
    float: none;
    object-fit: cover;
    object-position: 50% 50%; 
}
.mobile-class .list-box .item-box h5 {
    width: 100%;
    margin-left: 0;
    margin-top: .2rem;
    font-size: .16rem;
    line-height: .19rem;
    float: none;
}
.mobile-class .list-box .item-box p {
    width: 100%;
    margin-left: 0;
    margin-top: .12rem;
    font-size: .14rem;
    line-height: .22rem;
    float: none;
}
.mobile-class .list-box .item-box:first-child {
    padding-top: 0;
}
.mobile-class .list-box .item-box:nth-child(2n) img,
.mobile-class .list-box .item-box:nth-child(2n) h5,
.mobile-class .list-box .item-box:nth-child(2n) p {
    float: none;
}