.list-box {
    padding: 100px 180px;
    background-color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}
.list-box .item-box {
    padding-top: 80px;
}
.list-box .item-box img {
    width: 520px;
    float: left;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
}
.list-box .item-box h5 {
    width: calc(100% - 562px);
    margin-left: 42px;
    font-family: Avenir-Heavy;
    font-size: 28px;
    line-height: 33px;
    color: rgba(0,0,0,0.85);
    float: right;
font-weight: 600;
}
.list-box .item-box p {
    width: calc(100% - 562px);
    margin-left: 42px;
    margin-top: 12px;
    font-family: Avenir-Roman;
    font-size: 22px;
    color: rgba(0,0,0,0.45);
    line-height: 32px;
    float: right;
font-weight: 400;
}
.list-box .item-box:first-child {
    padding-top: 0;
}
.list-box .item-box:nth-child(2n) img {
    float: right;
}
.list-box .item-box:nth-child(2n) h5,
.list-box .item-box:nth-child(2n) p {
     margin-left: 0;
    float: left;
}

/* mobile css */
.mobile-class .list-box {
    padding: 36px 20px;
    max-width: 375px;
}
.mobile-class .list-box .item-box {
    padding-top: 28px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.mobile-class .list-box .item-box img {
    width: 100%;
    float: none;
    object-fit: cover;
    object-position: 50% 50%; 
}
.mobile-class .list-box .item-box h5 {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    float: none;
}
.mobile-class .list-box .item-box p {
    width: 100%;
    margin-left: 0;
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    float: none;
}
.mobile-class .list-box .item-box:first-child {
    padding-top: 0;
}
.mobile-class .list-box .item-box:nth-child(2n) img,
.mobile-class .list-box .item-box:nth-child(2n) h5,
.mobile-class .list-box .item-box:nth-child(2n) p {
    float: none;
}
