.item-box {
    background-color: #fff;
	padding: 1rem 1.8rem .36rem;
}
.item-box ul li {
    width: calc(50% - .2rem);
    margin-right: .2rem;
    margin-bottom: .64rem;
    float: left;
}
.item-box ul li:nth-child(2n) {
    float: right;
    margin-left: .2rem;
    margin-right: 0;
}
.item-box ul li img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
}
.item-box ul li p {
    font-family: Avenir-Roman;
    font-size: .2rem;
    color: rgba(0,0,0,0.45);
    line-height: .28rem;
}
.item-box ul li p span {
    color: #009DAB;
}
.item-box ul li p:nth-child(2) {
    font-family: Avenir-Heavy;
    font-size: .24rem;
    color: rgba(0,0,0,0.85);
    margin-top: .32rem;
    margin-bottom: .12rem;
}


/* mobile css */
.mobile-class .item-box {
    background-color: #fff;
	padding: .36rem .2rem .08rem;
}
.mobile-class .item-box ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: .52rem;
    float: none;
}
.mobile-class .item-box ul li:nth-child(2n) {
    float: none;
    margin-left: 0;
}
.mobile-class .item-box ul li p {
    font-size: .14rem;
    line-height: .22rem;
}
.mobile-class .item-box ul li p:nth-child(2) {
    font-size: .16rem;
    margin-top: .2rem;
}