.item-box {
	background-color: #fff;
	padding: 100px 180px;
    max-width: 1440px;
    margin: 0 auto;
}
.item-box img {
    /*width: 520px;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    margin-left: 42px;
    float: right;*/
}
.item-box h4 {
    width: calc(100% - 562px);
    font-family: Avenir-Heavy;
    line-height: 36px;
    font-size: 26px;
    color: rgba(0,0,0,0.85);
    margin: 20px 0;
    /*float: left;*/
font-weight: 500;
}
.item-box h4:first-child {
margin-top: 0
}
.item-box p {
    /*width: calc(100% - 562px);*/
    font-family: Avenir-Medium;
    line-height: 33px;
    font-size: 24px;
    color: rgba(0,0,0,0.65);
    /*float: left;*/
font-weight: 400;
}
.item-box p span {
    font-family: Avenir-Heavy;
    color: rgba(0,0,0,0.85);
}
.item-box h6 {
    width: calc(100% - 562px);
    margin-top: 30px;
    font-family: Avenir-Roman;
    font-size: 22px;
    margin-top: 42px;
    color: rgba(0,0,0,0.45);
    line-height: 30px;
    float: left;
font-weight: 400;
}
.item-box h6 span {
    color: #2157A8;
font-weight: 600;
}
.item-box ul {
    margin-top: 22px;
    float: left;
}
.item-box ul li {
    margin-top: 42px;
    font-family: Avenir-Medium;
    line-height: 33px;
    font-size: 24px;
    color: rgba(0,0,0,0.65);
}
.item-box ul li p {
    width: 100%;
    font-family: Avenir-Roman;
    font-size: 24px;
    color: rgba(0,0,0,0.45);
    float: none;
font-weight: 400;
}
.item-box ul li p a {
    color: rgba(0,0,0,0.65);
}
.form-box h5 {
	font-family: Avenir-Black;
	font-size: 34px;
	color: #0C3375;
	line-height: 46px;
	letter-spacing: 1px;
font-weight: 600;
}
.form-box h6 {
    width: 100%;
    font-family: Avenir-Heavy;
	font-size: 22px;
	color: #F58300;
	line-height: 32px;
	margin-top: 18px;
    float: none;
font-weight: 500;
}
.form-box>div {
    margin-top: 42px;
}
.form-box>div:first-child {
    display: block;
    margin-top: 0 !important;
}
.form-box>div form>div {
    display: flex;
}
.form-box>div .input-box {
    flex: 1;
    margin-right: 20px;
}
.form-box>div .input-box input {
    width: 100%;
    height: 42px;
    display: block;
    padding: 0 22px;
    box-sizing: border-box;
    border-color: #CED4DA;
    margin-top: 22px;
    font-size: 20px;
    font-family: Avenir-Roman;
    border: 1px solid #CED4DA;
}
.form-box>div .input-box input:first-child {
    margin-top: 0 !important;
}
.form-box>div .textarea-box {
    flex: 1;
    margin-left: 20px;
}
.form-box>div .textarea-box textarea {
    width: 100%;
    height: 170px;
    padding: 5px 22px;
    border: 1px solid #CED4DA;
    font-size: 20px;
    font-family: Avenir-Roman;
    box-sizing: border-box;
    resize: none;
    display: block;
font-weight: 400;
}
input::placeholder,
textarea::placeholder {
    color: rgba(0,0,0,0.25)
}
.form-box>div form>div .textarea-box button {
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin-top: 22px;
    text-align: center;
    background-color: #2157A8;
    color: #fff;
    font-size: 18px;
    font-family: Avenir-Medium;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
    float: right;
font-weight: 400;
}
.form-box p {
    font-family: Avenir-Roman;
    width: calc(100% - 560px);
    line-height: 25px;
    font-size: 18px;
    margin-top: -38px;
    float: left;
font-weight: 400;
}


/* mobile css */
.mobile-class .item-box {
	padding: 36px 20px;
    max-width: 375px;
}
.mobile-class .item-box img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    margin-left: 0;
    float: none;
}
.mobile-class .item-box h4 {
    width: 100%;
    margin-top: 20px;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 0;
    float: none;
}
.mobile-class .item-box p {
    margin-top: 12px;
    width: 100%;
    line-height: 22px;
    font-size: 15px;
    float: none;
}
.mobile-class .item-box h6 {
    width: 100%;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    float: none;
}
.mobile-class .item-box ul {
    margin-top: 16px;
}
.mobile-class .item-box ul li {
    margin-top: 20px;
    line-height: 22px;
    font-size: 15px;
}
.mobile-class .item-box ul li p {
    font-size: 15px;
    margin-top: 0;
    word-break: break-all;
}
.mobile-class .form-box h5 {
	font-size: 20px;
	line-height: 27px;
}
.mobile-class .form-box h6 {
    display: none;
}
.mobile-class .form-box>div {
    margin-top: 24px;
}
.mobile-class .form-box>div form>div {
    flex-direction: column;
}
.mobile-class .form-box>div .input-box {
    flex: 1;
    margin: 0;
}
.mobile-class .form-box>div .input-box input {
    height: 36px;
    padding: 0 12px;
    margin-top: 18px;
    font-size: 15px;
}
.mobile-class .form-box>div .textarea-box {
    flex: 1;
    margin-left: 0;
    margin-top: 18px;
}
.mobile-class .form-box>div .textarea-box textarea {
    width: 100%;
    height: 148px;
    padding: 5px 12px;
    font-size: 15px;
}
.mobile-class .form-box>div .textarea-box button {
    width: 120px;
    height: 32px;
    line-height: 32px;
    margin-top: 16px;
    font-size: 14px;
    float: none;
}
.mobile-class .form-box p {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    margin-top: 12px;
    float: none;
}