.item-box {
	background-color: #fff;
	padding: 1rem 1.8rem;
}
.item-box h5 {
	font-family: Avenir-Black;
	font-size: .34rem;
	color: #0C3375;
	line-height: .46rem;
	letter-spacing: .01rem;
}
.item-box img {
    width: 5.2rem;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    margin-left: .42rem;
    float: right;
}
.item-box p,
.item-box a {
    font-family: Avenir-Medium;
    line-height: .33rem;
    font-size: .24rem;
    color: rgba(0,0,0,0.65);
    float: left;
}
.item-box p span {
    font-family: Avenir-Heavy;
    color: rgba(0,0,0,0.85);
}
.item-box p:nth-child(2) {
    width: calc(100% - 5.62rem);
}
.item-box:first-child h6 {
    font-family: Avenir-Roman;
    font-size: .24rem;
    margin-top: .42rem;
    color: rgba(0,0,0,0.45);
    line-height: .33rem;
    float: left;
}
.item-box:first-child h6:nth-child(3) {
    width: calc(100% - 5.62rem);
    margin-top: .3rem;
}
.item-box:first-child h6:nth-child(4) {
    margin-top: .64rem;
}
.item-box:first-child h6 p {
    font-family: Avenir-Roman;
    font-size: .22rem;
    color: rgba(0,0,0,0.45);
    float: none;
}
.item-box:first-child h6 p:last-child {
    color: #2157A8;
}
.item-box:last-child h6 {
	font-family: Avenir-Heavy;
	font-size: .22rem;
	color: #F58300;
	line-height: .32rem;
	margin-top: .18rem;
}
.item-box:last-child div {
    margin-top: .42rem;
}
.item-box:last-child div input {
    width: 5.2rem;
    height: .42rem;
    display: block;
    padding: 0 .22rem;
    box-sizing: border-box;
    border-color: #CED4DA;
    margin-top: .22rem;
    font-size: .2rem;
    font-family: Avenir-Roman;
    border: .01rem solid #CED4DA;
}
.item-box:last-child div textarea {
    width: calc(100% - 5.6rem);
    padding: .05rem .22rem;
    margin-top: -1.7rem;
    height: 1.7rem;
    margin-left: .4rem;
    border: .01rem solid #CED4DA;
    font-size: .2rem;
    font-family: Avenir-Roman;
    box-sizing: border-box;
    resize: none;
    display: block;
    float: right;
}
input::placeholder,
textarea::placeholder {
    color: rgba(0,0,0,0.25)
}
.item-box:last-child div button {
    width: 1.6rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    background-color: #2157A8;
    color: #fff;
    margin-top: .22rem;
    font-size: .18rem;
    font-family: Avenir-Medium;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
    float: right;
}
.item-box:last-child p {
    width: calc(100% - 5.6rem);
    line-height: .25rem;
    font-size: .18rem;
    margin-top: -0.4rem;
    float: left;
}


/* mobile css */
.mobile-class .item-box {
	padding: .36rem .2rem;
}
.mobile-class .item-box h5 {
	font-size: .2rem;
	line-height: .27rem;
}
.mobile-class .item-box img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    margin-left: 0;
    float: none;
}
.mobile-class .item-box p,
.mobile-class .item-box a {
    line-height: .22rem;
    font-size: .15rem;
    float: none;
}
.mobile-class .item-box a {
    word-break: break-all;
}
.mobile-class .item-box p:nth-child(2) {
    margin-top: .2rem;
    width: 100%;
}
.mobile-class .item-box:first-child h6 {
    font-size: .15rem;
    margin-top: .2rem;
    line-height: .22rem;
    float: none;
}
.mobile-class .item-box:first-child h6:nth-child(3) {
    width: 100%;
    margin-top: .16rem;
    line-height: .2rem;
}
.mobile-class .item-box:first-child h6:nth-child(4) {
    margin-top: .36rem;
}
.mobile-class .item-box:first-child h6 p {
    font-size: .14rem;
    float: none;
    margin-top: 0;
}
.mobile-class .item-box:last-child h6 {
	display: none;
}
.mobile-class .item-box:last-child div {
    margin-top: .24rem;
}
.mobile-class .item-box:last-child div input {
    width: 100%;
    height: .36rem;
    display: block;
    padding: 0 .12rem;
    margin-top: .18rem;
    font-size: .15rem;
}
.mobile-class .item-box:last-child div input:first-child {
    margin-top: 0;
}
.mobile-class .item-box:last-child div textarea {
    width: 100%;
    padding: .08rem .12rem;
    margin-top: .18rem;
    height: 1.48rem;
    margin-left: 0;
    font-size: .15rem;
    float: none;
}
.mobile-class .item-box:last-child div button {
    width: 1.52rem;
    height: .36rem;
    line-height: .36rem;
    margin: .2rem auto 0;
    text-align: center;
    font-size: .15rem;
    float: none;
}
.mobile-class .item-box:last-child p {
    width: 100%;
    line-height: .2rem;
    font-size: .14rem;
    margin-top: .22rem;
    float: none;
}