.item-box {
    background-color: #fff;
	padding: 100px 180px;
    max-width: 1440px;
    margin: 0 auto;
}
.item-box .list-box {
   /* width: calc(100% - 304px);
    margin-left: 64px;
    float: right; */
    width: 100%;
}
.hideContentList {
    display: none !important;
}
.item-box .list-box ul {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
}
.item-box .list-box ul li {
    font-family: Avenir-Roman;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, .45);
    counter-increment: number;
font-weight: 400;
}
.item-box .list-box ul li:first-child {
    margin-bottom: 0;
}
.item-box .list-box ul li a, 
.item-box .list-box ul li span {
    font-family: Avenir-Medium;
    text-decoration: underline;
    color: rgba(0, 0, 0, .65);
font-weight: 400;
}
.item-box .list-box ul li::before {
    font-family: Avenir-Black;
    content: counter(number)".";
    font-size: 20px;
    color: rgba(0, 0, 0, .65);
    margin-right: 4px;
font-weight: 900;
}
.item-box .label-box {
    width: 240px;
    float: left;
    box-sizing: border-box;
}
.item-box .label-box li {
    display: flex;
    align-items: center;
    padding: 16px 0;
    font-size: 22px;
    font-family: Avenir-Heavy;
    color: rgba(0,0,0,0.65);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    cursor: pointer;
}
.item-box .label-box li:last-child {
    border-color: transparent;
}
.item-box .label-box li.active,
.item-box .label-box li:hover {
    color: #2157A8;
}
.item-box .tips {
    font-family: Avenir-Roman;
    font-size: 20px;
    line-height: 27px;
    margin-top: 58px;
    color: rgba(0, 0, 0, .45);
font-weight: 400;
}

/* mobile css */
.mobile-class .item-box {
	padding: 0;
    max-width: 375px;
}
.mobile-class .item-box .list-box {
    width: 100%;
    margin-left: 0;
    float: none;
    padding: 32px 0;
}
.mobile-class .item-box .list-box li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
}
.mobile-class .item-box .list-box li::before {
    font-size: 14px;
}
.mobile-class .item-box .label-box {
    width: 100%;
    float: none;
    background-color: #FAFBFC;
    padding: 16px 20px;
}
.mobile-class .item-box .label-box li {
    font-size: 16px;
}
.mobile-class .item-box .tips {
    font-size: 14px;
    line-height: 20px;
    margin-top: 28px;
padding: 0 20px;
}