.item-box {
	background-color: #fff;
	padding: 100px 180px;
    max-width: 1440px;
	margin: 0 auto;
}
.item-box h5 {
	font-family: Avenir-Black;
	font-size: 34px;
	color: #0C3375;
	line-height: 46px;
	letter-spacing: 1px;
font-weight: 600;
}
.item-box h5 span {
    position: relative;
}
.item-box h5 span::after {
    content: "";
    display: block;
    width: 105%;
    height: 16px;
    position: absolute;
    bottom: 0;
    background: rgba(12,51,117,0.2)
}
.item-box p {
	font-family: Avenir-Medium;
	font-size: 20px;
	color: rgba(0,0,0,0.65);
	line-height: 29px;
    margin-top: 34px;
font-weight: 400;
}
.item-box img {
    width: 100%;
    display: block;
}
.first-item-box p {
    margin-top: 40px;
    line-height: 32px;
    font-size: 22px;
}
.first-item-box p span {
    text-decoration: underline;
    font-family: Avenir-Heavy;
    color: rgba(0,0,0,0.85);
}
.first-item-box img {
    margin-top: 28px;
}
.material-box div {
    margin-top: 64px;
    line-height: 29px;
}
.material-box div:nth-child(2) {
    margin-top: 80px;
}
.material-box div img {
    width: 500px;
    float: left;
}
.material-box div h6 {
    width: calc(100% - 542px);
    margin-left: 42px;
    font-family: Avenir-Medium;
    font-size: 22px;
    color: rgba(0,0,0,0.85);
    float: right;
font-weight: 500;
}
.material-box div p {
    width: calc(100% - 542px);
    margin-left: 42px;
    font-family: Avenir-Roman;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    margin-top: 34px;
    float: right;
}
.item-box .title-box {
    width: calc(100% - 542px);
    float: left;
}
.item-box .title-box h5 {
   width: 100%;
}
.engineering-box img {
    width: 500px;
    float: right;
}
.engineering-box p {
    width: calc(100% - 542px);
    margin-right: 42px;
    float: left;
}
.characterizations-box img {
    width: 500px;
    float: left;
}
.characterizations-box h5 {
    width: calc(100% - 542px);
    float: right;
}
.characterizations-box p {
    width: calc(100% - 542px);
    margin-left: 42px;
    float: right;
}


/* mobile css */
.mobile-class .item-box {
	padding: 32px 20px;
    max-width: 375px;
}
.mobile-class .item-box h5 {
	font-size: 20px;
	line-height: 27px;
}
.mobile-class .item-box h5 span {
    position: relative;
}
.mobile-class .item-box h5 span::after {
    content: "";
    display: block;
    width: 103%;
    height: 10px;
    position: absolute;
    bottom: 0;
    background: rgba(12,51,117,0.2)
}
.mobile-class .item-box p {
	font-family: Avenir-Medium;
	font-size: 14px;
	color: rgba(0,0,0,0.65);
	line-height: 22px;
    margin-top: 12px;
}
.mobile-class .item-box img {
    width: 100%;
    display: block;
    float: left;
    object-fit: cover;
    object-position: 50% 50%;
}
.mobile-class .first-item-box h5 {
    text-align: center;
    width: 100%;
}
.mobile-class .first-item-box img {
    margin-top: 20px;
}
.mobile-class .material-box div {
    margin-top: 32px;
    line-height: 22px;
}
.mobile-class .material-box div:nth-child(2) {
    margin-top: 32px;
}
.mobile-class .material-box div img {
    width: 100%;
    float: none;
}
.mobile-class .material-box div h6 {
    margin-top: 24px;
    width: 100%;
    margin-left: 0;
    font-size: 16px;
    float: none;
}
.mobile-class .material-box div p {
    width: 100%;
    margin-left: 0;
    font-size: 14px;
    margin-top: 4px;
    float: none;
}
.mobile-class .item-box .title-box,
.mobile-class .characterizations-box h5 {
    width: 100%;
    float: none;
}
.mobile-class .engineering-box img, 
.mobile-class .characterizations-box img {
    width: 280px;
    margin: 32px auto 0;
    float: none;
}
.mobile-class .engineering-box p,
.mobile-class .characterizations-box p {
    margin: 0;
    margin-top: 24px;
    width: 100%;
    float: none;
}